@media screen and (max-width: 800px) {
    input[type="text"]{
        font-size: 20px;
    }
    input[type="text"]:focus{
        outline: none;
    }
    p {
        font-size: 20px;
    }
    button {
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    div.content {
        width: 90%;
    }
}